body {
  font-family: inter;
  background-color: #1A0B2E;
  color: white;
  margin: 0;
}

.navbox {
  max-width: 1600px;
  width: 100%;
  max-height: 92px;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 16px 200;
  margin: 30px 0;
}

.logo a {
  text-decoration: none;
  color: white;
  font-size: 3rem;
  font-weight: 700;
  line-height: 32px;
}

.logo span {
  background: linear-gradient(360deg,
      #F7E93F 0%,
      #FB09B4 51%,
      #9100F8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.manu {

  display: flex;
  justify-content: left;
  align-items: center;
  font-weight: 400;
  gap: 32px;
}

.manu a {
  font-size: 1rem;
  text-decoration: none;
  color: white;
}

.btn {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  padding: 12px 16px;
  border-radius: 20px;
  background: linear-gradient(45deg,
      #F7E93F 0%,
      #FB09B4 51%,
      #9100F8 100%);
}


.banner {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url(./assets/hero-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  border-top: 1px solid #412567;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.micro-phone {
  padding: 120px;
  background-image: url(./assets/hero-circle.png);
  background-position: center;
  background-repeat: no-repeat;
  margin-top: -100px;
}

.new {
  color: black;
  font-size: 1.1rem;
  font-weight: 400;
  background-color: #00FF88;
  padding: 8px 16px;
  border-radius: 20px;
  position: absolute;
  margin-top: -500px;
  margin-left: 280px;
}

.title h1 {
  font-size: 3.8rem;
  font-weight: 900;
  margin-bottom: 8px;
  margin-top: 8px;
}

.title p {
  opacity: 80%;
  margin-bottom: 30px;
}

.hero-sub {
  text-decoration: none;
  color: #00FF88;
  padding: 12px 20px;
  border: solid 1px #00FF88;
  font-weight: 500;
  border-radius: 20px;
  margin-left: 5px;
}

.about{
  max-width: 1200px;
  text-align: center;
  margin: 0 auto;
  padding: 50px 200px 120px 200px;

 
}

.about-text h2{
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  text-transform: capitalize;
  margin: 0px auto;
  
}
.about-text p{
  max-width: 900px;
  line-height: 20px;
  margin: 0 auto;
  opacity: 80%;
  margin-top: 30px;

}
.info-box{
  display: flex;
  justify-content: space-around;
  margin-top: 80px;
  border-top: 1px solid #412567;
  padding-top: 80px;
  align-items: center;
}

.info span{
  color: #00FF88;
  font-size: 3rem;
  font-weight: 700;
}
.info p{
  text-transform: uppercase;
  opacity: 80%;
}


.choose-section{
  padding: 120px 200px;
  margin: 0 auto;
  background-color: #230E3D;
  

}
.choose-section h2{
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
}
.grid-box{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat( 3,1fr, 240px);
  gap: 30px;

}

.why-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 40px;
  background-color: #3511657a;
  border-radius: 40px;
  box-shadow: black 1px;
}
 .icon {
  font-size: 3.5rem;
  background:linear-gradient(360deg,
      #F7E93F 0%,
      #FB09B4 51%,
      #9100F8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  
 }
.why-box h3{
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 16px;
  margin-bottom: 16px;
}

.why-box p{
  opacity: 60%;
  line-height: 30px;
  font-weight: 200;
}
.tall {
  grid-row: span 2;
}

.wide {
  grid-column: span 2;
}

.featured {
  padding: 200px 120px;
  gap: 40px;
  margin-top: 2px;
}
.featured h2{
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  margin-top: 1px;
  margin-bottom: 40px;
}


.video-card {
  max-width: 380px;
  max-height: 500px;
  background-color: #250D44;
  border-radius: 20px;

}

.ytvideo {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
}

.ytvideo iframe{
  width: 100%;
  height: 214px;
  border: none;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.video-text {
  padding: 24px;
  margin: 0 auto;
}
.video-text h3 {
  font-size: 1.5rem;
  font-weight: 700;
}

.video-text p {
  opacity: 60%;
}

.video-text span{
  color: #00FF88;
}
