body {
  font-family: inter;
  background-color: #1A0B2E;
}

.navbox {
  max-width: 1600px;
  width: 100%;
  max-height: 92px;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 16px 200;
  margin: 0;
}

.logo a {
  text-decoration: none;
  color: white;
  font-size: 3rem;
  font-weight: 700;
  line-height: 32px;
}

.logo span {
  background: linear-gradient(360deg,
      #F7E93F 0%,
      #FB09B4 51%,
      #9100F8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.manu {

  display: flex;
  justify-content: left;
  align-items: center;
  font-weight: 400;
  gap: 32px;
}

.manu a {
  font-size: 1rem;
  text-decoration: none;
  color: white;
}

.btn {
  color: white;
  font-size: 1rem;
  font-weight: 500;
  padding: 12px 16px;
  border-radius: 20px;
  background: linear-gradient(45deg,
      #F7E93F 0%,
      #FB09B4 51%,
      #9100F8 100%);
}

